# Clean Advaced Player Logs

- 5/28/2024
    - I need to clean the df from csv files

In [2]:
import pandas as pd

import os

In [3]:
os.listdir('NFL_Data_2018/49ers/Players Log/')

['Adrian Colbert',
 'Alfred Morris',
 'Antone Exum',
 'Arik Armstead',
 'Bradley Pinion',
 'Brock Coyle',
 'C.J. Beathard_0',
 'C.J. Beathard_1',
 'Cassius Marsh',
 'Cole Wick',
 'D.J. Reed',
 'Dante Pettis',
 'DeForest Buckner',
 'Dekoda Watson',
 'Earl Mitchell',
 'Elijah Lee',
 'Emmanuel Moseley',
 'Fred Warner',
 'Garrett Celek_0',
 'Garrett Celek_1',
 'George Kittle',
 'Godwin Igwebuike',
 'Greg Mabin',
 'James Onwualu',
 'Jaquiski Tartt',
 'Jeff Wilson_0',
 'Jeff Wilson_1',
 'Jimmie Ward',
 'Jimmy Garoppolo_0',
 'Jimmy Garoppolo_1',
 'Joe Staley',
 'Jullian Taylor',
 "K'Waun Williams",
 'Kendrick Bourne',
 'Kyle Juszczyk',
 'Malcolm Smith',
 'Marcell Harris',
 'Mark Nzeocha',
 'Marquise Goodwin',
 'Matt Breida',
 'Matthew Dayes',
 'Nick Mullens_0',
 'Nick Mullens_1',
 'Pierre Garcon',
 'Pita Taumoepenu',
 'Raheem Mostert_0',
 'Raheem Mostert_1',
 'Reuben Foster',
 'Richard Sherman',
 'Richie James_0',
 'Richie James_1',
 'Ronald Blair',
 'Ross Dwelley_0',
 'Ross Dwelley_1',
 'Sheldon Day',
 'Solomon Thomas',
 'Tarvarius Moore',
 'Terence Garvin',
 'Trent Taylor',
 'Tyvis Powell',
 'Victor Bolden']

In [10]:
file_0 = 'NFL_Data_2018/49ers/Players Log/C.J. Beathard_0'
file_1 = 'NFL_Data_2018/49ers/Players Log/C.J. Beathard_1'

In [16]:
player_df_0 = pd.read_csv(file_0, index_col=0)
player_df_1 = pd.read_csv(file_1, index_col=0)

In [17]:
player_df_0.columns

Index(['Rk', 'Date', 'G#', 'Week', 'Age', 'Tm', 'Unnamed: 6_level_1', 'Opp',
       'Result', 'Cmp', 'Att', 'Yds', '1D', '1D%', 'IAY', 'IAY/PA', 'CAY',
       'CAY/Cmp', 'CAY/PA', 'YAC', 'YAC/Cmp', 'Drops', 'Drop%', 'BadTh',
       'Bad%', 'Sk', 'Bltz', 'Hrry', 'Hits', 'Prss', 'Prss%', 'Scrm',
       'Yds/Scr', 'Year'],
      dtype='object')

In [18]:
player_df_0

,Rk,Date,G#,Week,Age,Tm,Unnamed: 6_level_1,Opp,Result,Cmp,...,Bad%,Sk,Bltz,Hrry,Hits,Prss,Prss%,Scrm,Yds/Scr,Year
0,1.0,2018-09-23,3.0,3.0,24.311,SFO,@,KAN,L 27-38,0,...,0.0%,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
1,2.0,2018-09-30,4.0,4.0,24.318,SFO,@,LAC,L 27-29,23,...,11.4%,1,8.0,0.0,6.0,7.0,16.7%,4.0,4.3,2018
2,3.0,2018-10-07,5.0,5.0,24.325,SFO,NaN,ARI,L 18-28,34,...,13.7%,4,22.0,0.0,4.0,8.0,13.6%,1.0,6.0,2018
3,4.0,2018-10-15,6.0,6.0,24.333,SFO,@,GNB,L 30-33,16,...,8.7%,2,11.0,3.0,2.0,7.0,25.0%,3.0,7.0,2018
4,5.0,2018-10-21,7.0,7.0,24.339,SFO,NaN,LAR,L 10-39,15,...,22.2%,7,7.0,2.0,2.0,11.0,31.4%,1.0,13.0,2018
5,6.0,2018-10-28,8.0,8.0,24.346,SFO,@,ARI,L 15-18,14,...,28.6%,4,14.0,5.0,4.0,13.0,38.2%,2.0,2.0,2018
6,NaN,6 Games,NaN,NaN,NaN,NaN,NaN,NaN,0-6-0,102,...,16.5%,18,62.0,10.0,18.0,46.0,23.2%,11.0,5.5,2018

In [19]:
player_df_1.columns

Index(['Rk', 'Date', 'G#', 'Week', 'Age', 'Tm', 'Unnamed: 6_level_1', 'Opp',
       'Result', 'Att', 'Yds', 'TD', '1D', 'YBC', 'YBC/Att', 'YAC', 'YAC/Att',
       'BrkTkl', 'Att/Br', 'Year'],
      dtype='object')

In [20]:
player_df_1

,Rk,Date,G#,Week,Age,Tm,Unnamed: 6_level_1,Opp,Result,Att,Yds,TD,1D,YBC,YBC/Att,YAC,YAC/Att,BrkTkl,Att/Br,Year
0,1.0,2018-09-23,3.0,3.0,24.311,SFO,@,KAN,L 27-38,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
1,2.0,2018-09-30,4.0,4.0,24.318,SFO,@,LAC,L 27-29,7,19,0,1.0,5.0,0.7,14.0,2.0,0.0,NaN,2018
2,3.0,2018-10-07,5.0,5.0,24.325,SFO,NaN,ARI,L 18-28,2,7,1,2.0,4.0,2.0,3.0,1.5,0.0,NaN,2018
3,4.0,2018-10-15,6.0,6.0,24.333,SFO,@,GNB,L 30-33,3,21,0,1.0,19.0,6.3,2.0,0.7,0.0,NaN,2018
4,5.0,2018-10-21,7.0,7.0,24.339,SFO,NaN,LAR,L 10-39,2,13,0,1.0,13.0,6.5,0.0,0.0,0.0,NaN,2018
5,6.0,2018-10-28,8.0,8.0,24.346,SFO,@,ARI,L 15-18,5,9,0,1.0,3.0,0.6,6.0,1.2,0.0,NaN,2018
6,NaN,6 Games,NaN,NaN,NaN,NaN,NaN,NaN,0-6-0,19,69,1,6.0,44.0,2.3,25.0,1.3,0.0,NaN,2018