# SQL Import Advanced Players Log

- SQL Import Advanced Player Logs
    - 5/28/24 Also, Use player position from SQL Player table to join 'position' column to each player

In [2]:
import pandas as pd

import pyodbc

import sqlalchemy as sal
from sqlalchemy import create_engine
from sqlalchemy.sql import text

import os

In [ ]:
years = range(2018,2024)

In [3]:
os.listdir('NFL_Data_2018/49ers/Players Log/')

['Adrian Colbert',
 'Alfred Morris',
 'Antone Exum',
 'Arik Armstead',
 'Bradley Pinion',
 'Brock Coyle',
 'C.J. Beathard_0',
 'C.J. Beathard_1',
 'Cassius Marsh',
 'Cole Wick',
 'D.J. Reed',
 'Dante Pettis',
 'DeForest Buckner',
 'Dekoda Watson',
 'Earl Mitchell',
 'Elijah Lee',
 'Emmanuel Moseley',
 'Fred Warner',
 'Garrett Celek_0',
 'Garrett Celek_1',
 'George Kittle',
 'Godwin Igwebuike',
 'Greg Mabin',
 'James Onwualu',
 'Jaquiski Tartt',
 'Jeff Wilson_0',
 'Jeff Wilson_1',
 'Jimmie Ward',
 'Jimmy Garoppolo_0',
 'Jimmy Garoppolo_1',
 'Joe Staley',
 'Jullian Taylor',
 "K'Waun Williams",
 'Kendrick Bourne',
 'Kyle Juszczyk',
 'Malcolm Smith',
 'Marcell Harris',
 'Mark Nzeocha',
 'Marquise Goodwin',
 'Matt Breida',
 'Matthew Dayes',
 'Nick Mullens_0',
 'Nick Mullens_1',
 'Pierre Garcon',
 'Pita Taumoepenu',
 'Raheem Mostert_0',
 'Raheem Mostert_1',
 'Reuben Foster',
 'Richard Sherman',
 'Richie James_0',
 'Richie James_1',
 'Ronald Blair',
 'Ross Dwelley_0',
 'Ross Dwelley_1',
 'Sheldon Day',
 'Solomon Thomas',
 'Tarvarius Moore',
 'Terence Garvin',
 'Trent Taylor',
 'Tyvis Powell',
 'Victor Bolden']

In [6]:
df = pd.read_csv('NFL_Data_2018/49ers/Players Log/Victor Bolden', index_col=0)

In [7]:
df

,Rk,Date,G#,Week,Age,Tm,Unnamed: 6_level_1,Opp,Result,Tgt,...,YAC,YAC/R,ADOT,BrkTkl,Rec/Br,Drop,Drop%,Int,Rat,Year
0,1.0,2018-10-07,5.0,5.0,23.186,SFO,NaN,ARI,L 18-28,4,...,1.0,1.0,11.8,0.0,NaN,0.0,0.0,1.0,0.0,2018
1,2.0,2018-10-15,6.0,6.0,23.194,SFO,@,GNB,L 30-33,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,2018
2,3.0,2018-10-21,7.0,7.0,23.200,SFO,NaN,LAR,L 10-39,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,2018
3,4.0,2018-10-28,8.0,8.0,23.207,SFO,@,ARI,L 15-18,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,2018
4,5.0,2018-12-23,15.0,16.0,23.263,BUF,@,NWE,L 12-24,0,...,0.0,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,2018
5,6.0,2018-12-30,16.0,17.0,23.270,BUF,NaN,MIA,W 42-17,0,...,0.0,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,2018
6,NaN,6 Games,NaN,NaN,NaN,NaN,NaN,NaN,1-5-0,4,...,1.0,1.0,11.8,0.0,NaN,0.0,0.0,1.0,0.0,2018